html, body { 
  margin: 0;
  height: 100%;
  text-align: center;
  color: #fff;
  font-family: 'Lato', sans-serif;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

/* stage 1 page */

canvas {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  z-index: -9999;
  background-color: black;
}

.houseIcon {
  position: relative;
  top: 2px;
  height: 36px;
  width: 36px;
}

.adonisImg {
  height: 28px;
  margin-right: 12px;
}

.button {
  align-self: center;
  background-color: rgb(185, 19, 19);
  color: white;
  font-size: 15px;
  opacity: 90%;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.find-home-button {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 20px;
  padding: 3vh 2vw;
}

.navbar-brand {
  display: block;
  color: #fff;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.wrapper {
  display: inline-flex;
  position: relative;
  text-align: center;
  flex-direction: column;
}

.adonisglobe {
  position: relative;
}

.globe {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-device-width: 800px) {
  .adonisglobe {
    max-height: 55vh;
  }

  .globe {
    max-height: 30vh;
  }
}

@media (min-device-width: 800px) {
  .adonisglobe {
    max-height: 70vh;
  }

  .globe {
    max-height: 35vh;
  }
}

/* stage 2 */

/* fade in/out */
.fade-out {
  animation: fadeOut ease 3s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 90%;
  }
  100% {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn ease 3s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* fade in/out end */

#stage-2 {
  display: none;
  opacity: 0;
}

.stage-2-wrapper {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  text-align: center;
}

/* media queries for mobile devices, tablets, and desktop */
@media (max-device-width: 799px) {
  .stage-2-wrapper > .adonis_rising {
    max-height: 50vh;
    max-width: 50vh;
  }

  .fast-globe {
    max-width: 100vw;
  }

  .modal-window > div {
    font-size: 15px;
    max-width: 75vw;
    padding: 1em;
  }
}

@media (min-device-width: 800px) and (max-device-width: 1200px) {
  .adonis_rising {
    max-height: 50vh;
  }

  .fast-globe {
    max-height: 50vh;
  }
}

@media (min-device-width: 1200px) and (max-device-width: 1649px) {
  .adonis_rising {
    max-height: 50vh;
  }

  .fast-globe {
    max-height: 47.5vh;
  }

  .join-button {
    padding: 2vh 2vw;
  }

  .stage-2-wrapper > .not-your-country-button {
    padding: 2vh 2vw;
  }
}

@media (min-device-width: 1650px) and (max-device-width: 2000px) {
  .adonis_rising {
    max-height: 60vh;
  }

  .fast-globe {
    max-height: 50vh;
  }

  .join-button {
    padding: 2vh 5vw;
  }
}

@media (min-device-width: 2000px) and (max-device-width: 3000px) {
  .adonis_rising {
    max-height: 60vh;
  }

  .fast-globe {
    max-height: 50vh;
  }

  .join-button {
    padding: 1vh 3vw;
  }

  .not-your-country-button {
    padding: 1vh 2vw;
  }
}

@media (min-device-width: 3000px) {
  .adonis_rising {
    max-height: 60vh;
  }

  .fast-globe {
    max-height: 50vh;
  }

  .join-button {
    padding: 1vh 2vw;
  }
}

/* media queries end */

.fast-globe {
  align-self: center;
  position: absolute;
}

.adonis_rising {
  position: relative;
  top: 2.5vh;
  margin-left: auto;
  margin-right: auto;
}

.country-wrapper {
  display: inline-flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
  top: 3vh;
}

.country-name {
  position: relative;
  margin-bottom: 20px;
  margin-top: 10px;
}

.flag-img {
  align-self: center;
  position: relative;
  border: 3px solid darkblue;
  border-radius: 7px;
  max-height: 7vh;
}

.join-button {
  margin-bottom: 15px;
  padding: 20px 40px;
}

.not-your-country-button {
  padding: 20px 30px;
}

.country-search {
  display: none;
  flex-wrap: wrap;
  max-width: 50%;
  align-self: center;
  justify-content: center;
}

.country-input {
  padding: 20px;
  height: 15px;
  position: relative;
  outline: none;
  background-color: rgba(185, 19, 19, 0.9);
  color: white;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  flex: 1;
  text-align: center;
  width: 100%;
}

.country-search:focus-within {
  outline: 3px solid #ddd;
  border-radius: 5px;
}

.country-list {
  z-index: 1;
  background-color: rgba(56, 56, 56, 0.9);
  color: white;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
  flex: 0 0 100%;
  display: grid;
  grid-auto-flow: row;
}

.country-btn {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(56, 56, 56);
  color: white;
  font-size: 15px;
  opacity: 90%;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  height: 50px;
}

.country-btn-img {
  max-height: 24px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 8px;
}

.country-btn-name {
  margin-top: auto;
  margin-bottom: auto;
}

.make-brotherhood-button {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 50%;
  margin-bottom: 1vh;
}

.no-country-found-wrapper {
  display: none;
  flex-direction: column;
  padding: 20px;
  position: relative;
  top: 5vh;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #c0c0c0 #383838;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #383838;
}

*::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  border-radius: 11px;
  border: 0px solid #ffffff;
}

.info-buttons {
  display: inline-flex;
  flex-direction: row;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-right: 1vh;
  position: absolute;
  top: 0;
  right: 0;
}

.info-button {
  background-color: rgba(25, 113, 194, 0.35);
  color: rgb(165, 216, 255);
  height: 36px;
  padding: 5px 18px;
  display: block;
  width: auto;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  margin-left: 1vh;
}

/* modal css - https://codepen.io/timothylong/pen/AJxrPR */

.begin-modal-window {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.3s;
}

.begin-btn {
  background-color: rgb(104, 104, 104);
  padding: 20px;
  font-size: 24px;
}

.modal-window {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modal-window > div {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  color: rgb(194, 189, 181);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 3px, rgba(0, 0, 0, 0.05) 0px 28px 23px -7px, rgba(0, 0, 0, 0.04) 0px 12px 12px -7px;
  outline-color: currentcolor;
  background-color: rgb(21, 23, 24);
}

.modal-window a {
  color: rgb(82, 176, 247);
  text-decoration: underline;
}
.modal-window header {
  font-weight: bold;
}
.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}

.modal-close {
  color: rgb(207, 206, 206);
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.modal-close:hover {
  color: whitesmoke;
}

/* thanks a lot, https://css-tricks.com/lets-create-a-custom-audio-player/ */
#audio-player-container {
  align-self: center;
  justify-content: center;
  width: 95%;
  max-width: 500px;
  display: inline-flex;
  background: transparent;
}

.sound-button {
  background-color: transparent;
  border: 0;
  width: 2em;
  height: 2em;
  cursor: pointer;
  padding: 0;
  margin-right: 8px;
}

output {
  width: 32px;
  text-align: center;
  font-size: 20px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 8px;
}

#volume-slider {
  width: 58%;
  background: transparent;
  margin-top: auto;
  margin-bottom: auto;
}
#volume-slider::-webkit-slider-runnable-track {
    background: rgba(0, 125, 181, 0.6);
}
#volume-slider::-moz-range-track {
    background: rgba(0, 125, 181, 0.6);
}
#volume-slider::-ms-fill-upper {
    background: rgba(0, 125, 181, 0.6);
}
#volume-slider::before {
    width: 100%;
}

input[type="range"] {
    position: relative;
    -webkit-appearance: none;
    width: 48%;
    margin: 0;
    padding: 0;
    height: 19px;
    margin-left: 5px;
    float: left;
    outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}
input[type="range"]::before {
    position: absolute;
    content: "";
    top: 8px;
    left: 0;
    width: var(--seek-before-width);
    height: 3px;
    background-color: #007db5;
    cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    box-sizing: content-box;
    border: 1px solid #007db5;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    margin: -7px 0 0 0;
}
input[type="range"]:active::-webkit-slider-thumb {
    transform: scale(1.2);
    background: #007db5;
}
input[type="range"]::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}
input[type="range"]::-moz-range-progress {
    background-color: #007db5;
}
input[type="range"]::-moz-focus-outer {
    border: 0;
}
input[type="range"]::-moz-range-thumb {
    box-sizing: content-box;
    border: 1px solid #007db5;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}
input[type="range"]:active::-moz-range-thumb {
    transform: scale(1.2);
    background: #007db5;
}
input[type="range"]::-ms-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: transparent;
    border: solid transparent;
    color: transparent;
}
input[type="range"]::-ms-fill-lower {
    background-color: #007db5;
}
input[type="range"]::-ms-fill-upper {
    background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}
input[type="range"]::-ms-thumb {
    box-sizing: content-box;
    border: 1px solid #007db5;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}
input[type="range"]:active::-ms-thumb {
    transform: scale(1.2);
    background: #007db5;
}